
<h2><%= @band.name %></h2>

<%= link_to "Create new Band", new_band_url%>
<%= link_to "Edit", edit_band_url%>
<%= button_to "Delete", band_url(@band), method: :delete%>
<%= link_to "All Bands", bands_url%>
<%= link_to "New Album", new_band_album_url(@band) %>

<h3> Albums </h3>
<ul>
<% @band.albums.each do |album| %>
  <li> <%= link_to "#{album.title}", album_url(album) %></li>
<% end %>
</ul>
