<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>


  <% if logged_in? %>
    <div><%= button_to "Sign out", session_url, method: :delete %>
  <% else %>
    <div><%= link_to "New User", new_user_url%>
    <div><%= link_to "Login", new_session_url %>
  <% end%>
</header>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if flash[:errors] %>
  <p><%= flash[:errors].join(", ") %></p>
<% end %>

<%= yield %>


</body>
</html>
